<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agregar Producto</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <h1>Agregar Nuevo Producto</h1>
        <form th:action="@{/productos/guardar}" th:object="${producto}" method="post">
            <input type="hidden" th:field="*{id}">

            <!-- Nombre -->
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre del producto</label>
              <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required>
            </div>

            <!-- Descripción -->
            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripción</label>
              <textarea th:field="*{descripcion}" class="form-control" id="descripcion"></textarea>
            </div>

            <!-- Precio -->
            <div class="mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input type="number" step="0.01" th:field="*{precio}" class="form-control" id="precio" required>
            </div>

            <!-- Stock -->
            <div class="mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input type="number" th:field="*{stock}" class="form-control" id="stock" required>
            </div>

            <!-- Marca -->
            <div class="mb-3">
              <label for="marca" class="form-label">Marca</label>
              <input type="text" th:field="*{marca}" class="form-control" id="marca">
            </div>

            <!-- Imagen URL -->
            <div class="mb-3">
              <label for="imagenUrl" class="form-label">Imagen URL</label>
              <input type="text" th:field="*{imagenUrl}" class="form-control" id="imagenUrl">
            </div>

            <!-- Tipo de Producto -->
            <div class="mb-3">
              <label for="tipoProducto" class="form-label">Tipo de Producto</label>
              <select th:field="*{tipoProducto}" class="form-select" id="tipoProducto">
                 <option th:each="tipo : ${tipos}" 
                      th:value="${tipo.id}" 
                      th:text="${tipo.nombre}">
                </option>

              </select>
            </div>

            <!-- Botones -->
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a th:href="@{/productos}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
  </body>
</html>
