<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tienda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body style="background-color: #1e1e2f; color: white;">
    <div class="container mt-5">
      <h1>Tienda</h1>
    </div>

    <div class="container mt-5">
        <h2>Productos</h2>

        <!-- Botón para agregar nuevo producto -->
        <a th:href="@{/productos/nuevo}" class="btn btn-success mb-3">Agregar Producto</a>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>descripcion</th>
                    <th>precio</th>
                    <th>stock</th>
                    <th>marca</th>
                    <th>imagen</th>
                    <th>tipo</th>
                    <th>acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${productos}">
                    <td th:text="${producto.id}"></td>
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${producto.descripcion}"></td>
                    <td th:text="${producto.precio}"></td>
                    <td th:text="${producto.stock}"></td>
                    <td th:text="${producto.marca}"></td>
                    <td>
                        <img th:src="${producto.imagenUrl}" 
                             alt="producto"
                             width="100"
                             class="img-fluid rounded shadow-sm">
                    </td> 
                    <td th:text="${producto.tipoProducto.nombre}"></td>
                    <td>
                        <a th:href="@{/productos/editar/{id}(id=${producto.id})}" 
                           class="btn btn-secondary btn-sm">Editar</a>
                        <a th:href="@{/productos/eliminar/{id}(id=${producto.id})}" 
                           class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
